




.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  padding: 0px 20px;
  margin: 0 1px;
  font-size: 26px;
}
button:hover {
  background-color: lightblue;
  border: 2px solid blue;
}
button:active {
  box-shadow: 5px gray;
  transform: translateX(1px);
}
.sum-count {
  font-family: 'Times New Roman', Times, serif;
  font-size: 64px;
}